# For Loop <hr style="border:2.5px solid rgb(46, 40, 221)"></hr>

In [60]:
#%pip install numpy --upgrade

In [61]:
import numpy as np

In [62]:
from scipy import stats

In [63]:
%pip install scipy

Requirement already satisfied: scipy in c:\users\arlee tanaman\appdata\local\programs\python\python313\lib\site-packages (1.15.2)
Requirement already satisfied: numpy<2.5,>=1.23.5 in c:\users\arlee tanaman\appdata\local\programs\python\python313\lib\site-packages (from scipy) (2.2.5)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Data Analsyt: Arlee D. Tanaman <br>
Department: Electrical Engineering

#  Iterating Over a List

In [64]:
# at index 0, i = apple
fruits = ['apple', 'banana', 'cherry',5]
for i in fruits:
    print(i)
# Output:

apple
banana
cherry
5

In [65]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for n in numbers:
    print(n)

1
2
3
4
5
6
7
8
9
10

In [66]:
# mean = 5.5
np.mean(numbers)

np.float64(5.5)

In [67]:
# population standard deviation = 2.8722813232690143
np.std(numbers)

np.float64(2.8722813232690143)

In [68]:
# sample standard deviation = 3.0276503540974917
np.std(numbers,ddof=1)

np.float64(3.0276503540974917)

In [69]:
# median = 5.5
np.median(numbers)

np.float64(5.5)

In [70]:
# mode = 1
stats.mode(numbers)

ModeResult(mode=np.int64(1), count=np.int64(1))

In [71]:
# starts at 2 ends at 10 excluding 10 and intervalof 2
for j in range (1,10,2):
    print(j)

1
3
5
7
9

# Iterating Over a Dictionary

In [72]:
for char in "Python":
    print(char)

P
y
t
h
o
n

In [73]:
employee = { 
    'name': 'Johnny',      
    'postion': 'Analsyt',
    'salary': 50000,
    'location': 'New York',
   
}
for key in employee:
    print(key)

for value in employee.values():
    print(value)

name
postion
salary
location
Johnny
Analsyt
50000
New York